.wrapper {
  width: 100%;
  padding: 50px 16px;
  background: #ffffff;
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  text-align: center;
}

.circleItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CIRCLE */
.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #3171b6;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.circle img {
  width: 60px;
  height: 60px;
}

/* LABEL */
.label {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #0e55a7;
}

/* HOVER EFFECT */
.circleItem:hover .circle {
  transform: scale(1.08);
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .circle {
    width: 76px;
    height: 76px;
  }

  .circle img {
    width: 36px;
    height: 36px;
  }
}
